.btn.click{
    left: 260px;
  }
  .btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
  }
  .btn.click span:before{
    content: '\f00d';
  }
  .sidebar{
    /* position: fixed; */
    width: 250px;
    height: 100%;
    left: -250px;
    background: white;
    transition: left 0.4s ease;
  }
  .sidebar.show{
    left: 0px;
  }
  .sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
  }
  nav ul{
    /* background: #1b1b1b; */
    height: 100%;
    width: 100%;
    list-style: none;
  }
  nav ul li{
    line-height: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }
  nav ul li a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
  }
  nav ul li.active a{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
  }
  nav ul li a:hover{
    background: orange;
  }
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-show.show{
    display: block;
  }
  nav ul .serv-show.show1{
    display: block;
  }
  nav ul ul li{
    line-height: 42px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
  }
  nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
  }
  nav ul ul li a:hover{
    color: cyan!important;
    background: #1e1e1e!important;
  }
  nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
  }
  nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
    z-index: -1;
    text-align: center;
  }
  .content .header{
    font-size: 45px;
    font-weight: 600;
  }
  .content p{
    font-size: 30px;
    font-weight: 500;
  }
     
         #maindiv{
            display: flex;
            width:100%;
  
          }
          /* #menu{
          
          } */
          .image{
            height: 60%;
            width:65%;
            cursor: pointer;
          }
          /* #card{
          
          } */
          #productright{
            width:95%;
            height: 1500px;
            /* border: 1px solid black; */
            margin-left: 0.20%;
          }
          #product{
            display: grid;
            width:100%;
            grid-template-columns: repeat(4,23%);
            grid-template-rows: repeat(auto,400px);   
            grid-gap: 60px; 
                              
           
          }
          #productleft{
            width:30%;
            height: 600px;
            margin-right: 20px;
            /* border: 1px solid black; */
          }
          #product1{
            /* margin-top: 20px; */
           margin-bottom: 45px;
           width:100%;
           height: auto;
            /* border: 1px solid black; */
            gap: 10px;
            display: flex;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: auto;
            
            
          }
          .box1{
            width:316px;
            height: 70px;
            display: flex;
            justify-content: space-between;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            cursor: pointer;
            border-radius: 10px;
          }
          h2{
            font-weight: 100;
            margin-left: 10px;
          }
          .box1>img{
             margin-right: 7px;
          }
  
          p{
            font-size: 23px;
            color: grey;
            font-weight: 100;
          }
  
          #product{
            cursor: pointer;
          }
         
          h1{
            margin-left: 70px; 
          }
          h5{
            font-weight: 100;
            margin-left: 70px; 
            font-size: 21px;
            cursor: pointer;
            gap: 2px;
          }
  